<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Change Password</title>
</head>
<body>

<style>
    .loginContainer {
    	display: flex;
    	justify-content: center;
    	align-items: center;
    	height: 75%;
    	flex-direction: column;
    }
    
    form input {
        margin-bottom: 5px;
    }
</style>

<div class="loginContainer">

	<h2>Change Password</h2>
	
	<div th:if="${chPass_UsernameError}">
		<p style="color:red" th:text="${chPass_UsernameError}"></p>
	</div>
	
	<div th:if="${chPass_PassError}">
		<p style="color:red" th:text="${chPass_PassError}"></p>
	</div>
	
	<div th:if="${chPass_NewPassError}">
		<p style="color: red" th:text="${chPass_NewPassError}"></p>
	</div>
	
	<div th:if="${chPass_Success}">
		<p style="color: green" th:text="${chPass_Success}"></p>
	</div>
	
	<form th:action="@{/changePassword}" th:object="${userChPass}" method="POST">
		<input type="text" th:field="*{username}" placeholder="Username" required><br>
		<input type="password" th:field="*{parolaVeche}" placeholder="Parola veche" required><br>
		<input type="password" th:field="*{parolaNoua}" placeholder="Parola noua" required><br>
		<input type="password" th:field="*{parolaNouaDinNou}" placeholder="Parola de confirmare" required><br>
		<button type="submit" class="btn btn-primary">Change Password</button>
	</form>

	<a th:href="@{/login}">Already have an account? Login</a>
	<a th:href="@{/register}">No account? Register</a>

</div>
</body>
</html>